@font-face {
    font-family: salma;
    src: url(/Fonts/salmapromediumnarrow-vg5v6-webfont.woff);
}
@font-face {
    font-family: time__burn;
    src: url(/Fonts/timeburnerbold-pegr-webfont.woff);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: salma;
    scroll-behavior: smooth;
    }


    /* about section */
    .about__contact {
        background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%); 
        padding: 25px 0;
    }
    .about__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1200px;
        max-height: 1800px;
        margin: 0 auto;
        height: 100%;
        text-align: center;
    }
    .image__contain {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-height: 490px;
        max-width: 864px;
        border: 2px solid transparent;
        border-color: #a17724;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        padding: 5px;
    }
    .about__image {
        display: flex;
        margin: 0 auto;
        max-height: 480px;
        max-width: 854px;
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }
    .about__header {
        color: #ffffff;
        font-size: 70px;
        font-weight: bold;
        margin-top: 35px;
        margin-bottom: 35px;
        text-transform: uppercase;
    }
    .about__resume {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        max-height: 80px;
        max-width: 100px;
        margin-bottom: 40px;
        height: 100%;
        width: 100%;
    }
    .resume {
        color: #ffffff;
        font-size: 30px;
        text-decoration: none;
        transition: 0.3s;
    }
    .resume:hover {
        color: #a17724;
        transition: 0.3s;
    }
    .about__contain {
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        max-height: 500px;
        max-width: 1200px;
        margin-bottom: 50px;
        height: 100%;
        width: 100%;
    }
    .know__contain {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-height: 500px;
        max-width: 540px;
        height: 100%;
        width: 100%;
        padding: 20px;
    }
    .know__title {
        color: #ffffff;
        font-size: 35px;
        margin-bottom: 15px;
        text-align: left;
    }
    .know__desc {
        color: #ffffff;
        font-size: 25px;
        margin-bottom: 20px;
        text-align: left;
    }
    .job__contain {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-height: 500px;
        max-width: 540px;
        height: 100%;
        width: 100%;
        padding: 20px;
    }
    .skills__contain {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-height: 200px;
        max-width: 500px;
        margin-bottom: 35px;
        height: 100%;
        width: 100%;
    }
    .skills__title {
        color: #ffffff;
        font-size: 35px;
        margin-bottom: 15px;
        text-align: left;
    }
    .skills__desc {
        color: #ffffff;
        font-size: 25px;
        margin-bottom: 20px;
        text-align: left;
    }
    .work__contain {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-height: 250px;
        max-width: 600px;
        height: 100%;
        width: 100%;
    }
    .work__title {
        color: #ffffff;
        font-size: 35px;
        margin-bottom: 15px;
        text-align: left;
    }
    .work__desc {
        color: #ffffff;
        font-size: 25px;
        margin-bottom: 20px;
        text-align: left;
    }
