@font-face {
    font-family: salma;
    src: url(/Fonts/salmapromediumnarrow-vg5v6-webfont.woff);
}
@font-face {
    font-family: time__burn;
    src: url(/Fonts/timeburnerbold-pegr-webfont.woff);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: salma;
    scroll-behavior: smooth;
    }


    @media (min-width: 320px) and (max-width:  768px) {

      /* optimized for mobile */
      
      .navbar {
        background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%); 
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        top: 0;
        z-index: 999;
    }
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 10px;
    }
    .navbar__menu {
      display: flex;
      align-items: center;
      list-style: none;
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -100px;
      opacity: 0;
      transition: all 0.5s ease;
      z-index: -1;
    }
    .navbar__menu.active {
      background: #131313;
      top: 100px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 40vh;
      font-size: 1.4rem;
    }
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
    #navbar__logo {
        color: #fff;
        text-transform: uppercase; 
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        white-space: nowrap;
        font-family: time__burn;
        transition: all 0.3s ease;
    }
    #navbar__logo:hover {
        color: #a17724;
        transition: all 0.3s ease;
    }
    .navbar__item {
        height: 80px;
        text-transform: uppercase;
    }
    .navbar__links {
        color: #fff;
        display: table;
        align-items: center;
        justify-content: center;
        width: 125px;
        text-decoration: none;
        height: 100%;
        transition: all 0.3s ease;
        font-family: time__burn;
    }
    .navbar__links:hover {
        color: #a17724;
        transition: all 0.3s ease;
    }
    #mobile-menu {
      position: relative;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .contact__item {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 1.5rem;
      justify-content: center;
      text-decoration: none;
      color: white;
      transition: all 0.3s ease;
      font-family: time__burn;
    }
    .cont__button {
      display: flex;
      padding: 5px 10px;
      border: 2px solid transparent;
      border-color: #a17724;
      border-radius: 42px 84px;
      color: white;
      background-color: transparent;
      transition: color 0.3s ease;
    }
    .contact__item:hover {
      color: #a17724;
      animation: clockWipe 0.3s linear forwards;
      transition: color 0.3s ease;
    }
    .cont__button:hover {
      animation: clockWipe 0.3s linear forwards;
      transition: color 0.3s ease;
    }
    @keyframes clockWipe {
      0% {
        border-color: #a17724;
      }
      50% {
        border-color: #a17724;
      }
      100% {
        border-color: white;
      }
    }
    
  
    /* footer section */
    .footer__container {
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1200px;
        max-height: 100px;
        margin: 0 auto;
        margin-top: 30px;
        height: 100%;
        text-align: center;
        padding: 30px;
    }
    .footer__menu {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        max-width: 280px;
        max-height: 80px;
        height: 100%;
        width: 100%;
    }
    .footer__item {
      display: flex;
      padding-right: 20px;
      padding-left: 20px;
    }
    .icons-social-media {
      display: flex;
      align-items: center;
      cursor: pointer !important;
      transition: 300ms all ease-in-out;
    }
    
    .icons__social__media:hover {
      translate: -0px -10px;
    }
    
    #instagram,
        #linkedin,#github {
      transition: 300ms all ease-in-out;
      clip-path: circle(65%);
      max-width: 40px;
      max-height: 40px;
      height: 100%;
      width: 100%;
    }
    
    }
    
    @media (min-width:  769px) { /* pc and laptop devices*/

      /* navbar section */
    .navbar {
      background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%); 
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      top: 0;
      z-index: 999;
  }
  .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 0px;
  }
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  #navbar__logo {
      color: #fff;
      text-transform: uppercase; /*
      background-color: #0068df;
      background-image: linear-gradient(to top, rgba(39, 39, 39, 0.663) 0%, #ffffff 100%);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent; */
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      font-size: 2.5rem;
      font-weight: bold;
      white-space: nowrap;
      font-family: time__burn;
      transition: all 0.3s ease;
  }
  #navbar__logo:hover {
      color: #a17724;
      transition: all 0.3s ease;
  }
  .navbar__menu {
      display: flex;
      align-items: center;
      list-style: none;
  }
  .navbar__item {
      height: 80px;
      text-transform: uppercase;
  }
  .navbar__links {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 125px;
      text-decoration: none;
      height: 100%;
      transition: all 0.3s ease;
      font-family: time__burn;
  }
  .navbar__links:hover {
      color: #a17724;
      transition: all 0.3s ease;
  }
  .contact__item {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    justify-content: center;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    font-family: time__burn;
  }
  .cont__button {
    display: flex;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-color: #a17724;
    border-radius: 42px 84px;
    color: white;
    background-color: transparent;
    transition: color 0.3s ease;
  }
  .contact__item:hover {
    color: #a17724;
    animation: clockWipe 0.3s linear forwards;
    transition: color 0.3s ease;
  }
  .cont__button:hover {
    animation: clockWipe 0.3s linear forwards;
    transition: color 0.3s ease;
  }
  @keyframes clockWipe {
    0% {
      border-color: #a17724;
    }
    50% {
      border-color: #a17724;
    }
    100% {
      border-color: white;
    }
  }
  

  /* footer section */
  .footer__container {
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 1200px;
      max-height: 100px;
      margin: 0 auto;
      margin-top: 30px;
      height: 100%;
      text-align: center;
      padding: 30px;
  }
  .footer__menu {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      max-width: 280px;
      max-height: 80px;
      height: 100%;
      width: 100%;
  }
  .footer__item {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
  }
  .icons-social-media {
    display: flex;
    align-items: center;
    cursor: pointer !important;
    transition: 300ms all ease-in-out;
  }
  
  .icons__social__media:hover {
    translate: -0px -10px;
  }
  
  #instagram,
      #linkedin,#github {
    transition: 300ms all ease-in-out;
    clip-path: circle(65%);
    max-width: 40px;
    max-height: 40px;
    height: 100%;
    width: 100%;
  }
    
      
    
    }


    