* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    }

    /* navbar section */


    .navbar {
        background: #131313;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: sticky;
        top: 0;
        z-index: 999;
    }
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 0px;
    }
    #navbar__logo {
        background-color: #0068df;
        background-image: linear-gradient(to top, rgba(39, 39, 39, 0.663) 0%, #ffffff 100%);
        background-size: 100%;
        text-transform: uppercase;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        white-space: nowrap;
    }
    .navbar__menu {
        display: flex;
        align-items: center;
        list-style: none;
    }

    .navbar__item {
        height: 80px;
        text-transform: uppercase;
    }

    .navbar__links {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 125px;
        text-decoration: none;
        height: 100%;
        transition: all 0.3s ease;
    }

    .navbar__links:hover {
        color: #0068df;
        transition: all 0.3s ease;
    }

    /* home section */

    .home {
        background: #ffffff;
        padding: 200px 0;
    }

    .home__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        height: 90%;
        text-align: center;
        padding: 30px;
    }

    .home__header {
        color: #000000;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 24px;
        text-transform: uppercase;
    }

    .home__heading {
        color: #000000;
        font-size: 40px;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 24px;
        text-transform: uppercase;
    }

    .home__description {
        font-size: 30px;
        color: rgb(0, 0, 0);
    }

    /* footer section */

    .footer {
        background: #000000;
        padding: 40px 0;
    }

    .footer__container {
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        height: 90%;
        text-align: center;
        padding: 10px;
    }

    .footer__menu {
        display: flex;
        align-items: center;
        list-style: none;
    }

    .footer__item {
        height: 80px;
        text-transform: uppercase;
    }

    .footer__links {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 125px;
        text-decoration: none;
        height: 100%;
        transition: all 0.3s ease;
    }


    /* work section */

    .work {
        background: #4d3030;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: sticky;
        z-index: 888;
    }

    .work__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 50px;
    }

    /* gear section */

    /* about section */

    .about {
        background: #4d3030;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: sticky;
        z-index: 888;
    }

    .about__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 50px;
    }

    /* contact section */

    .contact {
        background: #4d3030;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: sticky;
        z-index: 888;
    }

    .contact__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 50px;
    }



    /*
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(32, 32, 32);
    } */

    .container {
        position: relative;
        width: 100%;
        max-width: 200px;
    }
    

    .image {
    width: 100%;
    height: auto;
    }

    #one{
        color: rgb(255, 255, 255);
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 500px 1fr;
        grid-template-rows: 100px 200px;
    }

    .arrange-horizontally > * {
        display: inline-block;
        text-align: center;
    }
    .arrange-vertically > * {
        display: block;
    }
    .text {
        margin: auto;
    }



    /* section 
    .container {
        position: relative;
        width: 100%;
        max-width: 200px;
    }
    

    .image {
    width: 100%;
    height: auto;
    }


    .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    background-color: #531abc;
    }

    .container:hover .overlay {
    opacity: 1;
    }

    .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    }

    .fa-user:hover {
    color: #eee;
    }
    */