@font-face {
    font-family: salma;
    src: url(/Fonts/salmapromediumnarrow-vg5v6-webfont.woff);
}
@font-face {
    font-family: time__burn;
    src: url(/Fonts/timeburnerbold-pegr-webfont.woff);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: salma;
    scroll-behavior: smooth;
    }


    /* work section */
    .work {
        background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%); 
        padding: 25px;
    }
    .work__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 1430px;
        margin: 0 auto;
        margin-top: 30px;
        max-height: 2300px;
        height: 100%;
    }
    .work__header {
        color: #ffffff;
        font-size: 70px;
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .work__heading {
        color: #ffffff;
        font-size: 35px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .work__contain {
        display: flex;
        flex-direction: column;
        max-height: 2176px;
        max-width: 1430px;
        width: 100%;
        height: 100%;
    }
    .project__contain {
        display: flex;
        flex-direction: row;
        max-height: 544px;
        height: 100%;
        max-width: 1430px;
        padding: 15px;
    }
    .image__contain {
        display: flex;
        flex-direction: column;
        max-height: 514px;
        max-width: 906px;
        border: 2px solid transparent;
        border-color: #5f5f5f;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        padding: 5px;
        transition: 0.3s ease;
    }
    .proj__image {
        display: flex;
        max-height: 504px;
        max-width: 896px;
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }
    .image__contain:hover {
        border-color: #a17724;
        transition: 0.3s ease;
    }
    .proj__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 494px;
        width: 100%;
        max-height: 514px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 5px;
    }
    .desc__contain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 484px;
        max-height: 400px;
        height: 100%;
        width: 100%;   
        padding: 5px;
    }
    .work__title {
        color: #ffffff;
        font-size: 30px;
        margin-top: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .work__desc {
        color: #ffffff;
        font-size: 21px;
        margin-top: 15px;
    }
    .links__contain {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-top: 40px;
    }
    .work__link {
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
    }